@{
    ViewData["Title"] = "Contact";
}

<head>
    <link href="~/css/application.css" rel="stylesheet" />
</head>

<body>

    <div class="contact-container">
        <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
            <div class="contact-left-title">
                <a href="#" class="logo">InstrumentHub</a>
                <h2>Contact us</h2>
                <hr>
            </div>

            <input type="hidden" name="access_key"
                   value="bd68a881-89eb-45a7-a68e-cb2d37835d12">

            <input type="text" name="name" placeholder="Your name"
                   class="contact-inputs" required>

            <input type="email" name="email" placeholder="Your email"
                   class="contact-inputs" required>

            <textarea name="mesage" placeholder="Your mesage"
                      class="contact-inputs" required></textarea>

            <button type="submit">
                Submit
                <img src="~/img/arrow_icon.png" alt="" class="scc">
            </button>

        </form>
       
    </div>

</body>