@using Instrument.WebUI.Models
@model DivisionListViewModel

<link href="~/css/default.css" rel="stylesheet" />
<div class="category-container">
   
    @foreach (var category in Model.Divisions)
    {
        <a asp-controller="Shop" asp-action="List" asp-route-category="@category.CategoryName.ToLower()" 
           class="category-box @(Model.SelectDivision == category.CategoryName.ToLower() ? "active" : "")">
            @category.CategoryName
        </a>
    }
</div>
