@using Instrument.WebUI.Models
@model DivisionListViewModel

<link href="~/css/default.css" rel="stylesheet" />
<div class="category-container">
   
    @foreach (var division in Model.Divisions)
    {
        <a asp-controller="Sales" asp-action="Liste" asp-route-category="@division.CategoryName.ToLower()"
           class="category-box @(Model.SelectDivision == division.CategoryName.ToLower() ? "active" : "")">
            @division.CategoryName
        </a>
    }
</div>
