@using Instrument.WebUI.Models
@model EProductListModel

<p>Filtrelenen Ürün Sayısı: @(Model?.EProducts?.Count ?? 0)</p>

<form asp-action="GetByPriceRange" method="get">
    <label>Min Fiyat:</label>
    <input type="number" name="minPrice" required />

    <label>Maks Fiyat:</label>
    <input type="number" name="maxPrice" required />

    <button type="submit">Ürünleri Listele</button>
</form>
