@using Instrument.WebUI.Models
@using InstrumentHub.Entites
@model EProductListModel

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link href="~/css/ındex.css" rel="stylesheet" />

<div class="row d-flex justify-content-center">
    <div >

        @await Component.InvokeAsync("CategoryList")
    </div>

    <div class=col-md-12 "d-flex justify-content-center">
        <partial name="_slider" />
    </div>

    <div class="row mt-5">

       
        <div>

            <div class="row">
                @if (Model.EProducts != null && Model.EProducts.Count > 0)
                {
                    @foreach (EProduct product in Model.EProducts)
                    {
                        <partial name="_products" for="@product" />
                    }
                }
                else
                {
                    <p>Ürün Bulanamadı.</p>
                }

            </div>

        </div>

    </div>

</div>

