@using Instrument.WebUI.Models
@using InstrumentHub.Entites
@model EProductListModel

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link href="~/css/ındex.css" rel="stylesheet" />

<div class="row d-flex justify-content-center">
    <div >

        @await Component.InvokeAsync("CategoryList") @*Burada companente gelen kategorileri sırayla listeleyim hıme sayfasında gösteriyoruz*@
    </div>

    <div class="filter-form" style="margin-bottom: 20px; text-align: center;">
        <form method="get" action="@Url.Action("GetByPriceRange", "Product")">
            <label for="minPrice">Min Fiyat:</label>
            <input type="number" id="minPrice" name="minPrice" placeholder="Min Fiyat" required />
            <label for="maxPrice">Max Fiyat:</label>
            <input type="number" id="maxPrice" name="maxPrice" placeholder="Max Fiyat" required />
            <button type="submit">Filtrele</button>
        </form>
    </div>



        <h1 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:orange;">Welcome To InstrumentHub</h1>

    <div class="row mt-5">
        <div>
            <div class="row">
                @if (Model.EProducts != null && Model.EProducts.Count > 0)
                {
                    @foreach (EProduct product in Model.EProducts)
                    {
                        <partial name="_products" for="@product" />
                    }
                }
                else
                {
                    <p>Ürün Bulanamadı.</p>
                }
            </div>
        </div>
    </div>


</div>

