@using Instrument.WebUI.Models
@using InstrumentHub.Entites
@model EProductListModel
@{
    ViewData["title"] = "Eproduct List";
}

<div class="row d-flex justify-content-center">
    <div class="row mt-5">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryList")
        </div>
        <div class="col-md-9">
            <div class="row">
                @if (Model.EProducts != null && Model.EProducts.Count > 0)
                {
                    @foreach (EProduct product in Model.EProducts)
                    {
                        <partial name="_products" for="@product" />
                    }
                }
                else
                {
                    <p>Ürün Bulanamadı.</p>
                }
            </div>
            <div class="row">
                <div class="d-flex justify-content-center mt-5" page-model="@Model.PageInformation"></div>
            </div>
        </div>
    </div>

</div>